.App {
  text-align: center;
}

header a,
header button {
  font-size: 1rem;
  display: inline-block;
  border: 1px solid aqua;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: aqua;
  cursor: pointer;
}

form {
  background-color: #fff8e7;
  border: 1px solid aqua;
  padding: 1.5rem 1rem 1rem;
  border-radius: 10px;
}

main {
  margin: 1rem;
}

.albums-form,
.photos-form {
  padding: 1rem 1rem;
  margin: 2rem 0;
}

.cards {
  list-style: none;
  display: flex;
  justify-content: center;
}

.photo {
  width: 400px;
}

footer{
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 220px;
}
